
mat-form-field,
textarea{
  width: 100%;
}

mat-spinner {
  margin: auto;
}
button{
 width: 150px;
}

input[type='file'] {
  visibility: hidden;
}

.image-Preview {
  height: 5rem;
  margin:  1rem 0;
}

.image-Preview img {
  height: 100%;
}
